  GNU nano 6.2                                  mnt-storage.mount *
[Unit]
Description=Mount mergerfs pool (/mnt/storage)
Requires=mnt-disk1.mount mnt-disk2.mount mnt-disk3.mount mnt-disk4.mount
After=mnt-disk1.mount mnt-disk2.mount mnt-disk3.mount mnt.disk4.mount

[Mount]
What=/mnt/disk*
Where=/mnt/storage
Type=fuse.mergerfs
Options=defaults,nonempty,allow_other,use_ino,cache.files=off,moveonenospc=true,category.create=mfs,dropcacheonclose=true,minfreespace=2G,fsname=mergerfs
TimeoutSec=10s

[Install]
WantedBy=multi-user.target

